
.jumbotron {
    margin: 10px 10px;
    border-radius: 6px;
    text-align: center;
    background-color: #273043;
    color: #DD0426;
    font-family: comic-sans;
}
nav {
	margin: 10px 10px;
	background-color: #F02D3A;
}
nav ul  {

}
nav ul li {


}
body {
	background-color: #9197AE;
}
h2 {
	color: #273043
}
#me {
	text-align: center;
}
footer ul{
	text-align: center;

}
footer li {
	display: inline;

}
.copyright {
	color: grey;
}
.img-circle {
	height: 300px;
	width: 300px;
}